BASE_URL=https://automationexercise.com

# QA Environment
QA_EMAIL=your_qa_email@example.com
QA_PASSWORD=your_qa_password
QA_FIRST_NAME=YourFirstName
QA_LAST_NAME=YourLastName
QA_POSTAL_CODE=123456

# Stage Environment
STAGE_EMAIL=stage@email.com
STAGE_PASSWORD=your_stage_password
STAGE_FIRST_NAME=Stage
STAGE_LAST_NAME=User
STAGE_POSTAL_CODE=654321
